.wp-progress {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.wp-progress .overlay {
  background-color: rgba(0, 0, 0, 0.3);

}

.progress {
  height: 15px !important;
}

.wp-progress .hide  .modal-dialog {
  top: -10rem;
}

.wp-progress .show .modal-dialog {
  transition: 0.4s all;
  animation: topToBottom 0.4s forwards
}

@keyframes topToBottom {
  0% {
    top: -8rem;
  }
  100% {
    top: 0rem;
  }
}